@{
    ViewBag.Title = "Inicio";
}

<a style='display:flex;position:unset;bottom:1000px;left:0px;'>
    <img src='https://image.freepik.com/vector-gratis/ilustracion-lupa_53876-28516.jpg' height=200 alt="Menu Principal" />
</a>
<h2>Consultas</h2>
<menu>
    <li><a href="~/Propietario/PropiedadesPorValor"><big><b>Propiedades de un propietario</b></big></a></li>
    <br>
    <li><a href="~/PropietarioVsPropiedades"><big><b>Propietarios de una propiedad</b><br></big></a></li>
    <br>
    <li><a href="~/PropiedadesVsUsuario"><big><b>Propiedades de un usuario</b><br></big></a></li>
    <br>
    <li><a href="~/UsuarioVsPropiedad"><big><b>Usuarios de una propiedad</b><br></big></a></li>
    <br>
</menu>