
@{
    ViewBag.Title = "Inicio";
}

<h2>Consulta</h2>
<form action="~/AP/Propiedades/" method="post">
    <b>Propiedades de un usuario</b><br>
    <input type="search" value="ID o Nombre" name="valor" , id="F1" class="form-control" />
    <button class="btn btn-success">Consultar</button>
</form>
