@model List<model.entity.Propiedad>
@{
    ViewBag.Title = "Inicio";
}

<h2>Propiedades</h2>
<div class="container-fluid">
    <table class="table">
        <tr class="btn-primary">
            <th>Número</th>
            <th>Valor</th>
            <th>Dirección</th>
            <th></th>
        </tr>
        @foreach (var objetoPropiedad in Model)
        {
            <tr>
                <td>@objetoPropiedad.NumeroPropiedad</td>
                <td>@objetoPropiedad.ValorPropiedad</td>
                <td>@objetoPropiedad.DireccionPropiedad</td>
                <td><a class="btn btn-warning" href="~/Propietario/AgregarPropiedad/@objetoPropiedad.IdPropiedad">Agregar</a></td>
            </tr>
        }
    </table>
</div>