
@{
    ViewBag.Title = "MenuProp";
}

<a style='display:flex;position:unset;bottom:1000px;left:0px;'>
    <img src='http://gea-ecohidraulica.org/images/BajoConstrucci%C3%B3n.png' size=full alt="Menu Principal" />
</a>
