@{
    ViewBag.Title = "Menu";
}

<a style='display:flex;position:unset;bottom:1000px;left:0px;'>
    <img src='https://www.metalocus.es/sites/default/files/file-images/ml_Vasco%20Mour%C3%A3o_01_1200.png' height=280 alt="Menu Principal" />
</a>
<h2>Menu</h2>
<menu>
    <li><a href="~/Usuario"><big><b>Usuarios</b></big></a></li>
    <br>
    <li><a href="~/Propietario"><big><b>Propietarios</b><br></big></a></li>
    <br>
    <li><a href="~/Propiedad"><big><b>Propiedades</b><br></big></a></li>
    <br>
    <li><a href="~/Consulta"><big><b>Consultas</b><br></big></a></li>
    <br>
    <li><a href="~/Bitacora"><big><b>Bitácora</b><br></big></a></li>
</menu>