@model model.entity.Usuario
@{
    ViewBag.Title = "Menu";
}


<a style='display:flex;position:unset;bottom:1000px;left:0px;'>
    <img src='https://www.metalocus.es/sites/default/files/file-images/ml_Vasco%20Mour%C3%A3o_01_1200.png' height=250 alt="Menu Principal" />
</a>

<h2>Bienvenid@@ @Model.NombreUsuario:</h2>
<menu clear=both list-style=none float=left >
    <li float=left><a href="~/Usuario/Inicio/@Model.NombreUsuario"><big><b>Usuarios</b></big></a></li>
    <br>
    <li float=left><a href="~/Propietario/Inicio/@Model.NombreUsuario"><big><b>Propietarios</b><br></big></a></lifloat=left>
    <br>
    <li float=left><a href="~/Propiedad/Inicio/@Model.NombreUsuario"><big><b>Propiedades</b><br></big></a></li>
    <br>
    <li float=left><a href="~/Consulta/"><big><b>Consultas</b><br></big></a></li>
    <br>
    <li float=left><a href="~/Bitacora/"><big><b>Bitácora</b><br></big></a></li>
</menu>
