@model List<model.entity.Propietario>
@{
    ViewBag.Title = "CreatePropietario";
}

<h2>Propietarios</h2>
<div class="container-fluid">
    <table class="table">
        <tr class="btn-primary">
            <th>Nombre</th>
            <th>Tipo de documento</th>
            <th>Valor documento</th>
            <th></th>
        </tr>
        @foreach (var objetoPropietario in Model)
        {
            <tr>
                <td>@objetoPropietario.Nombre</td>
                <td>@objetoPropietario.IdPropietario</td>
                <td>@objetoPropietario.TipoDocumento</td>
                <td><a class="btn btn-warning" href="~/Propiedad/AgregarPropietario/@objetoPropietario.IdPropietario">Agregar</a></td>
            </tr>
        }
    </table>
</div>

