@model List<model.entity.Usuario>
@{
    ViewBag.Title = "CreateUsuario";
}

<h2>Usuarios</h2>
<div class="container-fluid">
    <table class="table">
        <tr class="btn-primary">
            <th>Nombre</th>
            <th>Contraseña</th>
            <th>Tipo usuario</th>
            <th></th>
        </tr>
        @foreach (var objetoUsuario in Model)
        {
            <tr>
                <td>@objetoUsuario.NombreUsuario</td>
                <td>@objetoUsuario.Password</td>
                <td>@objetoUsuario.TipoUsuario</td>
                <td><a class="btn btn-warning" href="~/Propiedad/AgregarUsuario/@objetoUsuario.IdUsuario">Agregar</a></td>
            </tr>
        }
    </table>
</div>