
@model List<model.entity.Propiedad>
@{
    ViewBag.Title = "Inicio";
}

<h2>Propietario</h2>
<div class="container-fluid">
    <div>
        <a class="btn btn-primary" href="/Propietario/Create">Nuevo</a>
    </div>
    <table class="table">
        <tr class="btn-primary">
            <th>Número</th>
            <th>Valor</th>
            <th>Dirección</th>
            <th colspan="3"> Operaciones</th>
        </tr>
        @foreach (var objetoPropiedad in Model)
        {
            <tr>
                <td>@objetoPropiedad.NumeroPropiedad</td>
                <td>@objetoPropiedad.ValorPropiedad</td>
                <td>@objetoPropiedad.DireccionPropiedad</td>
                <td><a class="btn btn-success" href="">Ver</a></td>
                <td><a class="btn btn-warning" href="">Editar</a></td>
                <td><a class="btn btn-danger" href="">Borrar</a></td>
            </tr>
        }
    </table>
</div>

